.class-concat {
  
  &{
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 29px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hotpink;
  }

  &__close {
    position: absolute;
    top: 14px;
    right: 15px;

    background-image: url('/assets/close.svg');
  }

  &--big {
    width: 64px;
    height: 64px;

    & .class-concat__close {
      top: 28px;
      right: 30px;
    }
  }
  
  &.class-concat--big {
    width: 64px;
    height: 64px;
  }

  &#dontDoThat {
    width: 666px;
    height: 666px;
  }
}